<h1>Photos</h1>

<div class="search">
  <form action="">
    <input type="text" placeholder="Search photos..." name="q" value="<%= params[:q] %>">
  </form>
</div>

<div class="items-grid">
  <%= render partial: "item", collection: @items %>
</div>
